# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local environment
.env*.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.*.log

# Amplify local deploy artifacts
.amplify/

# system files
.DS_Store
Thumbs.db
